S3method(.DollarNames,NMF)
S3method(plot,NMF.rank)
S3method(print,fcnnls)
S3method(print,foreach_backend)
S3method(register,doMPI_backend)
S3method(register,doParallel_backend)
S3method(register,foreach_backend)
S3method(scale,NMF)
export(".basis<-")
export(".coef<-")
export("algorithm<-")
export("basis<-")
export("basisnames<-")
export("coef<-")
export("fit<-")
export("name<-")
export("niter<-")
export("objective<-")
export("residuals<-")
export("seeding<-")
export(.atrack)
export(.basis)
export(.coef)
export(.getRNG)
export(ForeachBackend)
export(NMFSeed)
export(NMFStop)
export(NMFStrategy)
export(aheatmap)
export(algorithm)
export(atrack)
export(basis)
export(basiscor)
export(basismap)
export(basisnames)
export(bterms)
export(canFit)
export(coef)
export(coefficients)
export(coefmap)
export(compare)
export(connectivity)
export(consensus)
export(consensushc)
export(consensusmap)
export(cophcor)
export(cterms)
export(deviance)
export(dispersion)
export(entropy)
export(errorPlot)
export(evar)
export(existsNMFMethod)
export(existsNMFSeed)
export(extractFeatures)
export(fcnnls)
export(featureScore)
export(fit)
export(fitted)
export(gVariable)
export(getDoBackend)
export(getDoParHosts)
export(getDoParNHosts)
export(getNMFMethod)
export(getRNG1)
export(hasBasis)
export(hasCoef)
export(hasTrack)
export(hostfile)
export(ibasis)
export(ibterms)
export(icoef)
export(icterms)
export(is.empty.nmf)
export(is.mixed)
export(is.nmf)
export(is.partial.nmf)
export(isNMFfit)
export(iterms)
export(loadings)
export(logs)
export(match_atrack)
export(metaHeatmap)
export(mfiles)
export(minfit)
export(misc)
export(modelname)
export(name)
export(nbasis)
export(nbterms)
export(ncterms)
export(neq.constraints.inplace)
export(niter)
export(nmf)
export(nmf.equal)
export(nmf.getOption)
export(nmf.options)
export(nmf.printOptions)
export(nmf.resetOptions)
export(nmf.stop.connectivity)
export(nmf.stop.iteration)
export(nmf.stop.stationary)
export(nmf.stop.threshold)
export(nmfAlgorithm)
export(nmfApply)
export(nmfCheck)
export(nmfDistance)
export(nmfEstimateRank)
export(nmfModel)
export(nmfModels)
export(nmfObject)
export(nmfRegisterAlgorithm)
export(nmfSeed)
export(nmfWrapper)
export(nmf_update.KL.h)
export(nmf_update.KL.h_R)
export(nmf_update.KL.w)
export(nmf_update.KL.w_R)
export(nmf_update.brunet)
export(nmf_update.brunet_R)
export(nmf_update.euclidean.h)
export(nmf_update.euclidean.h_R)
export(nmf_update.euclidean.w)
export(nmf_update.euclidean.w_R)
export(nmf_update.euclidean_offset.h)
export(nmf_update.euclidean_offset.w)
export(nmf_update.lee)
export(nmf_update.lee_R)
export(nmf_update.ns)
export(nmf_update.ns_R)
export(nmf_update.offset)
export(nmf_update.offset_R)
export(nneg)
export(nrun)
export(nterms)
export(objective)
export(offset)
export(plot)
export(plot.NMF.consensus)
export(pmax.inplace)
export(posneg)
export(predict)
export(profcor)
export(profplot)
export(purity)
export(randomize)
export(register)
export(residuals)
export(rmatrix)
export(rnmf)
export(rss)
export(run)
export(runtime)
export(runtime.all)
export(scoef)
export(seed)
export(seeding)
export(seqtime)
export(setDoBackend)
export(setNMFMethod)
export(setNMFSeed)
export(smoothing)
export(sparseness)
export(staticVar)
export(str_args)
export(summary)
export(syntheticNMF)
export(trackError)
export(ts_eval)
export(ts_tempfile)
export(which.best)
exportClasses(NMF)
exportClasses(NMFList)
exportClasses(NMFOffset)
exportClasses(NMFfit)
exportClasses(NMFfitX)
exportClasses(NMFfitX1)
exportClasses(NMFfitXn)
exportClasses(NMFns)
exportClasses(NMFstd)
exportMethods("$")
exportMethods("$<-")
exportMethods("[")
exportMethods("dimnames<-")
exportMethods("objective<-")
exportMethods(.DollarNames)
exportMethods(dim)
exportMethods(dimnames)
exportMethods(fitted)
exportMethods(initialize)
exportMethods(objective)
exportMethods(rposneg)
exportMethods(show)
import(RColorBrewer)
import(colorspace)
import(digest)
import(doParallel)
import(foreach)
import(grDevices)
import(grid)
import(gridBase)
import(pkgmaker)
import(registry)
import(rngtools)
import(stringr)
importFrom(stats,offset)
importFrom(stats,predict)
importFrom(utils,.DollarNames)
useDynLib(NMF)
